.pixel-affix {
  image-rendering: pixelated;
}

.pixel-affix-inner {
  transition: all 0.05s ease;
}

.pixel-affix-inner--fixed {
  position: fixed;
  z-index: 910;
  left: 0;
  right: 0;
  background: var(--pixel-color-primary, #000);
  color: #fff;
  border-bottom: 2px solid var(--pixel-color-primary, #000);
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.3);
}