.pixel-flex {
  display: flex;
}

.pixel-flex--vertical {
  flex-direction: column;
}

.pixel-flex--wrap {
  flex-wrap: wrap;
}

.pixel-flex--nowrap {
  flex-wrap: nowrap;
}

.pixel-flex--wrap-reverse {
  flex-wrap: wrap-reverse;
}

.pixel-flex--justify-flex-start {
  justify-content: flex-start;
}

.pixel-flex--justify-center {
  justify-content: center;
}

.pixel-flex--justify-flex-end {
  justify-content: flex-end;
}

.pixel-flex--justify-space-between {
  justify-content: space-between;
}

.pixel-flex--justify-space-around {
  justify-content: space-around;
}

.pixel-flex--justify-space-evenly {
  justify-content: space-evenly;
}

.pixel-flex--align-flex-start {
  align-items: flex-start;
}

.pixel-flex--align-center {
  align-items: center;
}

.pixel-flex--align-flex-end {
  align-items: flex-end;
}

.pixel-flex--align-stretch {
  align-items: stretch;
}

.pixel-flex--align-baseline {
  align-items: baseline;
}
